{% extends "base.html" %}
{% block title %}Customer Support{% endblock %}

{% block content %}
<html>
<body class="js">
<h1 style="text-align:center;">Customer Support</h1>
	<!-- Start Midium Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img style="height:476px; width:700px;" src="https://images.unsplash.com/photo-1586769852044-692d6e3703f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="#">
						<div class="content">
							<h3 style="color:orange;">Contact Us</h3>
                            <br>
                            <p>Any enquiries? Let us know!</p>
							<a href="/contact" style="color:white">Go</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img style="height:476px; width:700px;" src="https://images.unsplash.com/photo-1598363431659-330370aaaa7b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="#">
						<div class="content">
							<h3 style="color:orange;">Feedback/Preferences</h3>
                            <br>
                            <p>Submit a form to let us know what you think!</p>
							<a href="/createForm" style="color:white">GO</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
	<!-- End Midium Banner -->
	<!-- Start Midium Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img style="height:476px; width:700px;" src="https://images.unsplash.com/photo-1612658876438-8bcb6ad0afce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="#">
						<div class="content">
							<h3 style="color:orange;">Donations</h3>
                            <br>
                            <p>Submit a Form to Donate to us!</p>
							<a href="/createDonation" style="color:white;">Go</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img style="height:476px; width:700px;" src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="#">
						<div class="content">
							<h3 style="color:orange;">Policies</h3>
                            <br>
                            <p>Information about our return and exchange policies</p>
							<a href="#" style="color:white;">Learn More</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
</body>
</html>
{% endblock %}
