{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}

    <head>
        <title>Reset Password</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="style.css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>

        <div class="container" style="padding: 40px;margin-top: 10%;">
            <div class="box-header ">
                <h2 style="text-align: center;" class="page-header"><i class="fa fa-lock"></i> Change Password</h2>
            </div>
            <br><span id = "message" style="color:red"> </span>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <label>Email</label>
                    <div class="form-group pass_show">
                        <input id="pswd" type="email" class="form-control" placeholder="ENter your email">

                    <label>New Password</label>
                    <div class="form-group pass_show">
                        <input id="pswd" type="password" class="form-control" placeholder="New Password">
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group pass_show">
                        <input id="cpswd" type="password" class="form-control" placeholder="Repeat Password">
                    </div>
                    <div class="form-group button-form">
                        <button class="form-control btn btn-info" type="button" onclick="onPasswordSubmit()" name="submit" id="submit" value="Submit">Submit</button>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>

    </body>
{% endblock %}