{% extends "base.html" %}
{% block title %}Retrieve Donations{% endblock %}

{% block content %}
<!-- Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                                <li><a href="/staff">Staff<i class="ti-arrow-right"></i></a></li>
                                <li class="active"><a href="/retrieveDon">Donations</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- End Breadcrumbs -->
<section class="product-area shop-sidebar shop section">
			<div class="container">
				<div class="row">
					{% block categories %}
						{% include 'includes/_categories.html' %}
					{% endblock %}
					<div class="col-lg-9 col-md-8 col-12">
						<div class="row">
							<div class="col-12">
							</div>
						</div>
                        <div>
                          {% if count == 0 %}
                          <p>There are no submissions.</p>
                          {% elif count == 1 %}
                          <p>There is 1 submission.</p>
                          {% else %}
                          <p>There are {{ count }} submissions.</p>
                          {% endif %}
                        </div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-12">
								<table class="table table-sm table-striped">
									<thead>
									  <tr>
									  	<th>User ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Item checked</th>
                                        <th>Specifications</th>
                                        <th>Update</th>
                                        <th>Delete</th>
									  </tr>
									</thead>
									<tbody>
									  {% for donate in donate_list %}
      <tr>
        <td>{{ donate.get_donate_id() }}</td>
        <td>{{ donate.get_first_name() }}</td>
        <td>{{ donate.get_last_name() }}</td>
        <td>{{ donate.get_email() }}</td>
        {% if donate.get_check_one() == "C" %}
        <td>Clothes</td>
        {% elif donate.get_check_one() == "S" %}
        <td>Shoes</td>
        {% elif donate.get_check_one() == "B" %}
        <td>Bags</td>
        {% elif donate.get_check_one() == "A" %}
        <td>Accessories</td>
        {% endif %}
        <td>{{ donate.get_specifications() }}</td>
        <td><a href="/updateDonate/{{donate.get_donate_id()}}" class="btn btn-warning" style="color:white;">Update</a></td>
        <td>
          <form action="{{url_for('delete_donate',id=donate.get_donate_id())}}" method="POST">
          <!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{donate.get_donate_id()}}">Delete</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{donate.get_donate_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h3 style="text-align:center;">Are you sure you want to delete {{donate.get_first_name()}} {{donate.get_last_name()}}?</h3>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
							</div>
						</div>
                    </div>
                </div>
            </div>
</section>
<style>
  #button1 {
  width: 20px;
  height: 30px;
  background: #333333;
  color: #fff;
  border: none;
  border-radius: 0 5px 0px 0;
  }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: #333;
  color: #fff;
  line-height: normal;
  }

  #update {
  color: #fff;
  }

  .table-striped tbody tr:nth-of-type(odd) {
  background: none;
  }

</style>
{% endblock %}
