{% extends 'base.html' %}
{% block content %}
<body class="js">
<section class="hero-slider">
<div class="single-slider" id="background">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1>Thank You for Shopping with Us!</h1>
										<p style="">Click here to view your order.</p>
										<div class="button">
											<a href="/myorders" class="btn">Your Orders</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
</body>
{% endblock %}